/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    padding: 0;
    margin: 0;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #005f73;
    color: white;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    background-color: #ef233c;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #d90429;
}

/* Contenedor principal */
.main-container {
    padding: 40px 20px;
    text-align: center;
}

/* Información del alumno */
.alumno-info {
    background-color: #e6f2f2;
    border: 1px solid #005f73;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.alumno-info p {
    font-size: 16px;
    color: #333;
}

/* Botones */
.confirm-button, .cancel-button {
    background-color: #005f73;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-button:hover {
    background-color: #0a3d3a;
}

.cancel-button {
    background-color: #ef233c;
}

.cancel-button:hover {
    background-color: #d90429;
}
